body{
  background-image: url(assets/fond-lignes-bleues-dynamiques-degradees_23-2148995756.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(50px);
  width: 100vh;
  padding: 10px 0px;
}
.clock{
  color: white;
  font-size: 16 rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px black;
  text-align: center;
}